<div class="row">
	<h3>Welcome to</h3>
	<h1> nhà hàng Tối</h1>
	<ul class="button-group radius">
		<%= link_to 'Menu', {controller: 'foods'}, class: "button small" %>
		<%= link_to 'Contact us', {controller: 'contact'}, class: "button small" %>
	</ul>
</div>