<p id="notice"><%= notice %></p>

<h1>Menu</h1>

<div class="row">
  <div class="col-lg-6">
    <%= render 'food_category' %>
    <%= render 'food_list' %>
  </div>
  <div class="col-lg-6">
    <%= render 'food_searcher' %>
  </div>
</div>
