@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.menu-food-item {
   text-align: left
}


.food-header {
  margin-top: 24px;
}

.rating {
  span.fa {
    color: #f6c342;
  }
  margin-bottom: 12px;
}