@import "bootstrap";
@import "order";
@import "font-awesome-sprockets";
@import "font-awesome";

.menu-food-item {
   text-align: left
}

.food-header {
  margin-top: 24px;
}

.content-container {
	margin-top: 70px;
}

.card-group .card img {
	width: 100%
}